# NYT timeseries data for vote progression charts

In [2]:
import json

In [24]:
# with open('nyt-data-6-11-8pm.json') as json_file:
#     data = json.load(json_file)

In [3]:
with open('nyt-data-25-11-6pm.json') as json_file:
    data = json.load(json_file)

In [5]:
import pandas as pd

In [6]:
from pandas.io.json import json_normalize

### Get timeseries dataframes for each state needed

In [20]:
az = json_normalize(data['data']['races'][3]['timeseries'])

In [21]:
ga = json_normalize(data['data']['races'][10]['timeseries'])

In [22]:
mi = json_normalize(data['data']['races'][22]['timeseries'])

In [23]:
nc = json_normalize(data['data']['races'][27]['timeseries'])

In [24]:
pa = json_normalize(data['data']['races'][38]['timeseries'])

In [25]:
wi = json_normalize(data['data']['races'][48]['timeseries'])

### Get required columns for each & write to csv

In [26]:
az=az[['eevp','vote_shares.trumpd','vote_shares.bidenj']]

In [27]:
ga=ga[['eevp','vote_shares.trumpd','vote_shares.bidenj']]

In [28]:
mi=mi[['eevp','vote_shares.trumpd','vote_shares.bidenj']]

In [29]:
nc=nc[['eevp','vote_shares.trumpd','vote_shares.bidenj']]

In [30]:
pa=pa[['eevp','vote_shares.trumpd','vote_shares.bidenj']]

In [31]:
wi=wi[['eevp','vote_shares.trumpd','vote_shares.bidenj']]

In [32]:
az['state']="Arizona"

In [33]:
ga['state']="Georgia"

In [34]:
mi['state']="Michigan"

In [35]:
nc['state']="North Carolina"

In [36]:
pa['state']="Pennsylvania"

In [37]:
wi['state']="Wisconsin"

In [38]:
all=pd.concat([az,ga,mi,nc,pa,wi])

In [55]:
all['biden']=(all['vote_shares.bidenj']*100).round(1)

In [56]:
all['trump']=(all['vote_shares.trumpd']*100).round(1)

In [59]:
sortDict ={
    "Arizona":1,
    "North Carolina":2,
    "Georgia":3,
    "Michigan":4,
    "Pennsylvania":5,
    "Wisconsin":6
}

In [60]:
all['order']=all['state']

In [62]:
all=all.replace({"order": sortDict})

In [63]:
all

,eevp,vote_shares.trumpd,vote_shares.bidenj,state,biden,trump,order
0,0,0.000,0.000,Arizona,0.0,0.0,1
1,3,0.505,0.480,Arizona,48.0,50.5,1
2,23,0.421,0.566,Arizona,56.6,42.1,1
3,69,0.437,0.550,Arizona,55.0,43.7,1
4,70,0.438,0.549,Arizona,54.9,43.8,1
...,...,...,...,...,...,...,...
359,99,0.488,0.495,Wisconsin,49.5,48.8,6
360,99,0.488,0.495,Wisconsin,49.5,48.8,6
361,99,0.489,0.496,Wisconsin,49.6,48.9,6
362,99,0.488,0.495,Wisconsin,49.5,48.8,6
363,100,0.488,0.495,Wisconsin,49.5,48.8,6

In [64]:
all.to_csv('vote-counts.csv')